@import url("https://fonts.googleapis.com/css?family=Raleway");
:root {
  --color-gray-dark: #383535;
  --color-off-white: #f7f7f7; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.h1 {
  font-size: 1.5rem; }

.header {
  background-color: var(--color-gray-dark);
  color: var(--color-off-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  padding: 1.5rem 1rem;
  position: fixed;
  right: 0; }

.nav {
  display: flex;
  flex-basis: 10rem;
  justify-content: space-between; }
  .nav__btn .nav__btn:link, .nav__btn:active, .nav__btn:visited {
    color: var(--color-off-white); }

.main {
  padding-top: 5rem; }

.diagram-container {
  border-radius: 50%;
  height: 400px;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
  width: 400px; }

.inner-circle {
  background-color: white;
  border-radius: 50%;
  height: 150px;
  padding-top: 100px;
  position: absolute;
  width: 250px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%); }

.sector-1 {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%; }

.sector-1-right {
  background: #47d147;
  height: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  width: 100%; }

.sector-1-left {
  background: #47d147;
  height: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  width: 100%; }

.chart-inner-text {
  text-align: center; }

.main {
  padding-top: 5rem; }

.header {
  width: 100%;
  height: 50px; }

.nav {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #617d8a;
  position: fixed;
  width: 100%; }

body {
  font-family: Cabin;
  background: linear-gradient(180deg, #bfb9b9, white); }

a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  padding: 0 20px; }

.moneygotchi {
  padding: 100px 50px 20px 50px;
  width: 100%; }

.moneygotchi-image {
  background: url("../assets/img/moneygotchi_isover.png");
  background-size: contain;
  width: 350px;
  height: 350px;
  margin: 0 auto; }
