@import url("https://fonts.googleapis.com/css?family=Raleway");
:root {
  --color-gray-dark: #706d6d;
  --color-off-white: #f7f7f7;
  --color-green: #68E397;
  --color-red: #FF6B6B;
  --color-yellow: #f6c73c; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1;
  background: linear-gradient(180deg, #f7f7f7, white); }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: var(--color-off-white); }

.h1 {
  font-size: 1.5rem; }

.header {
  background-color: var(--color-gray-dark);
  color: var(--color-off-white);
  left: 0;
  padding: 1.5rem 1rem;
  position: fixed;
  right: 0;
  z-index: 100; }

.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
  width: 100%; }
  .nav__btn .nav__btn:link, .nav__btn:active, .nav__btn:visited {
    color: var(--color-off-white); }

.main {
  padding-top: 5rem;
  display: grid;
  justify-content: center; }

.diagram-container {
  border-radius: 50%;
  height: 400px;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
  width: 400px; }

.inner-circle {
  background-color: white;
  border-radius: 50%;
  height: 150px;
  padding-top: 100px;
  position: absolute;
  width: 250px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%); }

.sector-1 {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%; }

.sector-1-right {
  background: #47d147;
  height: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  width: 100%; }

.sector-1-left {
  background: #47d147;
  height: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  width: 100%; }

.chart-inner-text {
  text-align: center; }

.main {
  padding-top: 5rem;
  display: grid;
  justify-content: center; }

.moneygotchi {
  padding: 100px 50px 20px 50px; }

.moneygotchi-image {
  background-size: contain;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  transition: background 1s; }

.list-container {
  display: flex;
  flex-direction: row; }

.list-column {
  width: 100%;
  line-height: 1.5;
  text-align: center; }

.moneygotchi {
  padding: 100px 50px 20px 50px; }

.moneygotchi-image {
  background-size: contain;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  transition: background 1s; }

.input-filed-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  position: relative;
  padding-bottom: 2rem; }

.input {
  border: 0;
  background-color: transparent;
  color: var(--color-yellow); }
  .input:focus {
    outline: none;
    caret-color: var(--color-yellow);
    border-bottom: 1px solid var(--color-yellow); }
  .input-label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(1.5) translateY(100%);
    transition: all .3s ease;
    top: -1rem; }
  .input:focus + .input-label,
  .input:valid + .input-label {
    transform: translateX(-50%) scale(0.9) translateY(0); }
  .input-field {
    grid-column: 1 / -1;
    font-size: 2rem;
    font-family: inherit; }

.btn {
  border: 0;
  padding: 3.5rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  align-self: center;
  justify-self: center; }
  .btn:focus {
    outline: 0; }
  .btn-plus {
    background-image: url("../assets/icons/plus-button.svg"); }
  .btn-minus {
    background-image: url("../assets/icons/minus-button.svg"); }
