// COLORS
:root {
	--color-gray-dark: #706d6d;

	--color-off-white: #f7f7f7;

	--color-green: #68E397;
	--color-red: #FF6B6B;
	--color-yellow: #f6c73c;
}

@import url('https://fonts.googleapis.com/css?family=Raleway');
